@import '../../assets/global';

.#{$prefix}-layout {
  &__header {
    background: #83c8ff !important;

    .ant-page-header-heading {
      flex-wrap: nowrap !important;
    }
  }

  &__content {
    padding: 24px;
  }
}
